body{
    background-color:#ffd480
    ;
    ;
    font-weight:900;
}
h1{
    text-align: center;
    background-color: rgb(15, 15, 82);
    margin: 0;
    padding: 10px;
    color: white;
}
.content
{
    text-align: center;
    margin-top: 60px;
    margin-left: 420px;
    border: 4px solid black;
    padding: 100px;
    width: 500px;
}
#result
{
    margin-top: 80px;
    padding: 8px;
    
}
button{
    border-radius: 8px;
    margin-top: 10px;
}
input{
    border-radius: 8px;
    border: 4px greenyellow;
    width: 70%;
    box-sizing: border-box;
}
.LIB
{
    padding-top: 70px;
}
.LIB input{
    margin-bottom: 30px ;
}